title: "Ahmad Shahzad"
description: "AI Automation Architect · GPT Agents · CRM Workflows · AWS"
url: "https://bd047.github.io"

remote_theme: "mmistakes/minimal-mistakes@4.24.0"

plugins:
  - jekyll-remote-theme
  - jekyll-seo-tag
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-paginate

